@model IEnumerable<Scribe_Factory_Core.Models.Project>

@{
    ViewData["Title"] = "Dashboard";
}


<div class="container-fluid" id="my-prject">


    <div class="row align-items-stretch">
        <div class="c-dashboardInfo col-lg-3 col-md-6">
            <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    Speech To Text
                </h4><span class="hind-font caption-12 c-dashboardInfo__count">@ViewBag.SpeechToTextCount</span>
            </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
            <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    Text To Speech@*<svg class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                            </path>
                        </svg>*@
                </h4><span class="hind-font caption-12 c-dashboardInfo__count">@ViewBag.TextToSpeechCount</span>@*<span class="hind-font caption-12 c-dashboardInfo__subInfo">Last month: €30</span>*@
            </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
            <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    Text To Text
                </h4><span class="hind-font caption-12 c-dashboardInfo__count">@ViewBag.TextToTextCount</span>
            </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
            <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    Speech To Speech
                </h4><span class="hind-font caption-12 c-dashboardInfo__count">@ViewBag.SpeechToSpeechCount</span>
            </div>
        </div>
    </div>
    <div style="margin-top:10px">
        <h4 style="margin-bottom:10px">Filter your projects</h4>
        <div class="txt-speech-div-selct" style=" display: flex; margin-top: 3px; height: 45px;">

            <select name="Type" id="Type">
                <option value="">Type</option>
                <option value="Speech to Speech">Speech to Speech</option>
                <option value="Speech to Text">Speech to Text</option>
                <option value="Text to Speech">Text to Speech</option>
                <option value="Text to Text">Text to Text</option>
            </select>
            <input type="text" name="ProjectName" id="ProjectName" placeholder="Project Name" style="width: 20%;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .1) !important; margin-right:20px" required>
            <input type="date" name="Date" id="Date" placeholder="Create on" style="width: 20%;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .1) !important;margin-right:25%;" required>
            <div style="justify-content:flex-end">
                <a href="" class="xport-main-div">
                    <button id="Search">Search</button>
                </a>
            </div>

        </div>

    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="row mb-4 pb-5" id="ProjectsDiv">
                @Html.Partial("DashboardProjects", Model)

            </div>
        </div>

    </div>
</div>

<style>
    .xport-main-div {
        justify-content: flex-end;
        height: 10vh;
        margin-bottom: 40px;
    }



        .xport-main-div button {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            box-shadow: 2px 5px 4px rgb(0 0 0 / 25%);
            background: #1DC68D;
            box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
            border-radius: 68px;
            border: none;
            padding: 10px 40px;
        }

    .txt-speech-div-selct select {
        margin-right: 20px;
        border: 1px solid rgba(0, 0, 0, .1) !important;
        color: gray;
        width: 150px;
        border-radius: 10px;
        padding: 8px;
    }

    .downloadbutton {
        color: green;
        background-color: white;
        border: 0px
    }
    /*.downloadbutton:hover{
                    background-color:black;
                }*/
    .c-dashboardInfo {
        margin-bottom: 15px;
    }

        .c-dashboardInfo .wrap {
            background: #ffffff;
            box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
            border-radius: 7px;
            text-align: center;
            position: relative;
            overflow: hidden;
            padding: 40px 25px 20px;
            height: 100%;
        }

    .c-dashboardInfo__title,
    .c-dashboardInfo__subInfo {
        color: #6c6c6c;
        font-size: 1.18em;
    }

    .c-dashboardInfo span {
        display: block;
    }

    .c-dashboardInfo__count {
        font-weight: 600;
        font-size: 2.5em;
        line-height: 64px;
        color: #323c43;
    }

    .c-dashboardInfo .wrap:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        content: "";
    }

    .c-dashboardInfo:nth-child(1) .wrap:after {
        background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
    }

    .c-dashboardInfo:nth-child(2) .wrap:after {
        background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
    }

    .c-dashboardInfo:nth-child(3) .wrap:after {
        background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
    }

    .c-dashboardInfo:nth-child(4) .wrap:after {
        background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
    }

    .c-dashboardInfo__title svg {
        color: #d7d7d7;
        margin-left: 5px;
    }

    .MuiSvgIcon-root-19 {
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 24px;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        user-select: none;
        flex-shrink: 0;
    }
</style>
@if (!string.IsNullOrEmpty(ViewBag.ScrollDown))
{
    <script type="text/javascript">

        window.scrollTo(0, document.body.scrollHeight);
    </script>
}
@if (Model.Count() == 0)
{
    <script type="text/javascript">
        $('#Search').prop("disabled", true);
    </script>
}
}

<script type="text/javascript">
    $(document).ready(function () {



        function DownloadFile(projectId) {
            debugger;
        };
        $("#Search").click(function (e) {
            debugger;
            e.preventDefault();
            ShowLoader();
            var Type = $('#Type').find(":selected").val();
            var ProjectName = $('#ProjectName')[0].value;
            var Date = $('#Date')[0].value;

            if (Type == "" && ProjectName == "" && Date == "") {
                jQuery.notify("Please select atleast one filter!", { position: "top right", className: "warn" });
                HideLoader();
            }
            else {
                $.ajax(
                    {
                        type: "Post", //HTTP POST Method
                        url: "GetProjectsbyFilter", // Controller/View
                        data: { type: Type, projectname: ProjectName, date: Date },
                        success: function (response) {
                            debugger;
                            if (response != "") {
                                document.getElementById('ProjectsDiv').innerHTML = "";
                                document.getElementById('ProjectsDiv').innerHTML = response;
                                HideLoader();
                            }
                            else {
                                jQuery.notify("Please try again", { position: "top right", className: "warn" });
                                HideLoader();
                            }
                        }
                    });
            }
        });

    });


</script>

